<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /code/workspace/loot/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(?:css|js|jpe?g|gif|png)$ [NC]
RewriteRule . /code/workspace/loot/index.php [L]
</IfModule>
Options -Indexes