{% include('header.html') %}

<body>
	<div class="main">
		<h1>help</h1>
		<p>
			<b>What is it?:</b><br>
			LootHunt is like a scavanger hunt where you look for QR codes that unlock fake points. <br>
			Each Hunt has its own leaderboard outside of the global leaderboard. <br>
			<br>
			<b>Terminology:</b><br>
			<b>Loot:</b> A hidden package with a scannable QR code. These are usually business card format. The LootHunt QR scanner is recomended and will identify official codes. <br>
			<b>A Hunt:</b> The group of Loots for a particular event or location. All Loot in the Hunt will eventually expire. Points are awarded to people who find the Loot packages. First: 500pts Second 250pts Third 100pts and 50pts for every find after. <br>
			<b>Loot Mayor:</b> The first person to find a particular Loot becomes the Mayor of it, forever. A Mayor can upload an image or tag.<br>
			<b>Loot Owner:</b> The person who finds a Loot is the Owner until someone else finds it; then they become the owner. While someone has ownership they can add a Hint to help others. <br>
			<b>Burn Codes:</b> These bonus drop codes work just like regular Loots, only they are worth a preset number of points and can only be scanned by a set number of people! First come, first serve. These might be shared on social media or be more difficult to find or aquire. There are NO expiration date on these codes. Points only contribute to global leaderboard. <br>
			<b>Lottery:</b> When available, one chance per day to get points awarded by luck. Odds are always 1/5 but the total points awarded will vary depending on the date. Points only contribute to global leaderboard.<br><br>
			<b>Ethics:</b><br>
			Each hidden item is intended to be innocent and noninvasive. We try to take into consideration the distribution, environmental and social impacts in public spaces. Please reach out if you have any questions or concerns.
		</p>
		<div class="addthis_inline_follow_toolbox"></div>
		<div class="addthis_tipjar_inline"></div>
	</div>
</body>

{% include('footer.html') %}