{% include('header.html') %}

<body>
<div class="main">
	<h1>Loot Hunt</h1>
	<p>Welcome to Loot Hunt! This <a href='https://en.wikipedia.org/wiki/Alternate_reality_game'>AR Game</a> is insipired by video game easter eggs and hidden package achievements. </p>
	<p>A Loot is a geo-cache of fake internet points hidden around major events in Ontario. A Hunt is the group of Loots for a particular event or location. </p>
	<p>To learn about the game and how to play check out our <a href="{{ home }}help/"> help page</a> or get involved on social media.</p>
	<p>If there are active or upcoming Hunts you can check them <a href='{{ home }}loot/'>here</a>. We hope to expand Hunts outside of Ontario in the future. Although most points are found on Hunts, a hint or Bonus Drop codes could be found on social media!</p>
	<div class="addthis_inline_share_toolbox"></div>
</div>
</body>
{% include('footer.html') %}