{% include('header.html') %}
<body>
	<div class="main">
		<h1>global leaderboard</h1>
		<table>
  <caption>Top 10 Scores</caption>
  <thead>
    <tr>
      <th style="width: 20px" scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Score</th>
      <th scope="col">Loot Found</th>
    </tr>
  </thead>
  <tbody>
  	{% for row in rows %}
    <tr>
      <td data-label="Position">{{ row.pos }}</td>
      <td data-label="User"><a href='{{ home }}profile/{{ row.display }}/'>{{ row.display }}</a></td>
      <td data-label="Score">{{ row.score }}</td>
      <td data-label="Loot Found">{{ row.found }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br>
  <div class="addthis_inline_share_toolbox"></div>
	</div>
  {% include('footer.html') %}
</body>