{% include('header.html') %}

<body>
	<div class="main">
		<h1>lottery</h1>
		<p>{% if errMsg %} {{ errMsg|raw }}
			{% else %}
		{% if lotto.worth %}
			<h3>Jackpot worth {{ lotto.worth }} points today!</h3>
			{{ boxes|raw }}
			{% else %}
			Doesn't look like the jackpot is ready today. Try again {% if next.strtime %}<b>{{ next.strtime }}</b>{% else %}later!{% endif %}
		{% endif %}
	{% endif %}</p>
		<br>
		<div class="addthis_inline_share_toolbox"></div>
	</div>
</body>
{% include('footer.html') %}